<div class="modal-content card-body">
<div class="bg-black py-md-3 text-white-50 bg-opacity-75 rounded">
  <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
    Checkout
  </button>
</div>
<div class="card-body">
  <p class="fw-lighter text-center fs-6">By placing your order, you agree to the
    <a href="#" class="tooltip-test" title="Delivery Term" data-bs-container="#exampleModalPopovers">
      Delivery Term
    </a>
  </p>
  <div class="modal-dialog">
    <h6 class="text-uppercase fw-bolder">order summary</h6>
    <div class="modal-content list-group list-group-flush">
      <div class="modal-header">
        <p class="text-uppercase fw-bolder">products</p>
        <span class="mx-md-2 fw-bolder">{{ total_amount }} </span>
      </div>
      <div class="modal-body">
          <li class="list-group-item">Product Total<span class="my_text">{{ total_amount  | currency:'USD':'symbol':'1.0-0' }}</span></li>
          <li class="list-group-item">Delivery<span class="my_text">FREE</span></li>
      </div>
       <div class="modal-footer ">
              <span class="fw-bolder">Total </span>
              <span class="mx-md-2 fw-bolder">{{ total_amount  | currency:'USD':'symbol':'1.0-0' }} </span>
        </div>
    </div>
  </div>
</div>
</div>

<!--<div class="card-body">
    <div class="form-group">
       <h6>Cost per Quantity</h6>
        <div class="input-group">
          <span class="input-group-text">${{ packagePrice }}</span>
          <div class="container-fluid">
            <app-add-minus-price
            ></app-add-minus-price>
          </div>
      </div>
   </div>
</div>-->

