.my_text{
  position: absolute;
  right: 15px;
}
.my_checkboxButton{
  top: 25px;
  position: absolute;
  right: 0px;
}
.logo {
  position: relative;
  display: inline-block;
  top: 0;
  left: 15px;
  right: 0;
  height: 60px;
  margin: 0 16px;
}
.nextArrow {
  position: relative;
  left: 15px;
  right: 0px;
}
.order-summary{
  position: relative;
  top: 100px;
}
.color-menu {
  background-color: #0b2149;
}
