<div class="bg-black py-md-3 bg-opacity-75 rounded">
  <a href="checkout" class="bg-black py-md-3 bg-opacity-75" title="Checkout">
    <div class="bg-black py-md-3 bg-opacity-75 rounded">
        <h6 class="my_text text-uppercase">checkout</h6>
        <span class="nextArrow" aria-hidden="true">&raquo;</span>
    </div>
  </a>
</div>
<div class="bg-secondary bg-opacity-25 card-body">
  <div class="modal-dialog">
    <h6 class="text-uppercase fw-bolder">order summary</h6>
    <div class="modal-content list-group list-group-flush">
      <div class="modal-body">
          <li class="list-group-item">Product Total<span class="my_text">{{ total_amount  | currency:'USD':'symbol':'1.0-0' }}</span></li>
          <li class="list-group-item">Delivery<span class="my_text">FREE</span></li>
      </div>
       <div class="modal-footer ">
              <span class="fw-bolder">Total </span>
              <span class="mx-md-2 fw-bolder">{{ total_amount  | currency:'USD':'symbol':'1.0-0' }} </span>
        </div>
    </div>
  </div>
    <div class="modal-content container-sm ">
      <div class="modal-header">
        <span class="text-uppercase fw-bolder">accepted payment methods</span>
      </div>
      <div class="model-container-fluid">
          <img
            class="logo img-fluid img-responsive rounded"
            src="../../../../assets/img/visa.png "
            alt="..."
          />
        <img
          class="logo img-fluid img-responsive rounded"
          src="../../../../assets/img/mastercard.png "
          alt="..."
        />
            <img
              class="logo img-fluid img-responsive rounded"
              src="../../../../assets/img/american-express.png "
              alt="..."
            />
            <img
              class="logo img-fluid img-responsive rounded"
              src="../../../../assets/img/payoneer.png "
              alt="..."
            />
          <img
            class="logo img-fluid img-responsive rounded"
            src="../../../../assets/img/paypal.png "
            alt="..."
          />
        </div>
    </div>
</div>
