<div class="position container bg-secondary bg-opacity-25 card-body col-6 rounded">
  <div class="color-menu text-white-50 card-body col-4 my_textPM rounded">
    <h6 class="">Shipping Address</h6>
  </div>
  <form class="row g-2" [formGroup]="basicInfoFormGroup">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Name</label>
      <input type="email" class="form-control" id="inputName" formControlName="inputName"
             [ngClass]="
                  setInputStyles(basicInfoFormGroup.controls['inputName'])
                "
             required>
      <app-input-message
        [errorText]="'Required field. '"
        *ngIf="
                evaluateUserInteractionWithInput(
                  basicInfoFormGroup.controls['inputName']
                )
              "
      ></app-input-message>
    </div>
    <div class="col-md-6">
      <label for="inputLastName" class="form-label">Last Name</label>
      <input type="email" class="form-control" id="inputLastName" formControlName="inputLastName"
             [ngClass]="
                  setInputStyles(basicInfoFormGroup.controls['inputLastName'])
                "
             required>
      <app-input-message
        [errorText]="'Required field. '"
        *ngIf="
                evaluateUserInteractionWithInput(
                  basicInfoFormGroup.controls['inputLastName']
                )
              "
      ></app-input-message>
    </div>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" formControlName="inputEmail"
             [ngClass]="
                  setInputStyles(basicInfoFormGroup.controls['inputEmail'])
                "
             required>
      <app-input-message
        [errorText]="'Required field. '"
        *ngIf="
                evaluateUserInteractionWithInput(
                  basicInfoFormGroup.controls['inputEmail']
                )
              "
      ></app-input-message>
    </div>
    <div class="col-md-6">
      <label for="inputPhone" class="form-label">Phone</label>
      <input type="text" class="form-control" id="inputPhone" formControlName="inputPhone"
             [ngClass]="
                  setInputStyles(basicInfoFormGroup.controls['inputPhone'])
                "
             maxlength="11"
             required>
      <app-input-message
        [errorText]="'Required field. '"
        *ngIf="
                evaluateUserInteractionWithInput(
                  basicInfoFormGroup.controls['inputPhone']
                )
              "
      ></app-input-message>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="inputAddress"
             [ngClass]="
                  setInputStyles(basicInfoFormGroup.controls['inputAddress'])
                "
             required>
      <app-input-message
        [errorText]="'Required field. '"
        *ngIf="
                evaluateUserInteractionWithInput(
                  basicInfoFormGroup.controls['inputAddress']
                )
              "
      ></app-input-message>
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" formControlName="inputAddress2">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity" formControlName="inputCity"
             [ngClass]="
                  setInputStyles(basicInfoFormGroup.controls['inputCity'])
                "
             required>
      <app-input-message
        [errorText]="'Required field. '"
        *ngIf="
                evaluateUserInteractionWithInput(
                  basicInfoFormGroup.controls['inputCity']
                )
              "
      ></app-input-message>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label" required>Zip Code</label>
      <input type="text" class="form-control" id="inputZip" formControlName="inputZip"
             [ngClass]="
                  setInputStyles(basicInfoFormGroup.controls['inputZip'])
                "
             maxlength="5"
             required>
      <app-input-message
        [errorText]="'Required field. '"
        *ngIf="
                evaluateUserInteractionWithInput(
                  basicInfoFormGroup.controls['inputZip']
                )
              "
      ></app-input-message>
    </div>
  </form>
  <div class="btn btn-group col-6 button_shipping">
    <button class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close" type="button" (click)="cleanData()">Cancel</button>
    <button type="submit" class="btn btn-primary"(click)="saveBasicInformation()"[disabled]="basicInfoFormGroup.invalid">Save</button>
  </div>
</div>
