.style-list-group{
  align-self: stretch;
}
.amount {
  align-items: center;
  right: 340px;
  bottom: 30px;
}
.details{
  top: 15px;
  position: relative;
  left: 315px;
  align-items: center;
  justify-content: center;
}
.order {
  display:flex;
  position: fixed;
  top: 100px;
  rigth: 0px;
  left: 1100px;
  align-items: center;
  justify-content: center;
}

