<div class="offcanvas offcanvas-end sidepanel is-opened" *ngIf="!closed"
  tabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
  data-bs-scroll="true"
  data-bs-backdrop="false">
  <div class="offcanvas-header is-black navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body card-body">
    <app-see-details
      [title]="product.title"
      [description]="product.description"
      [amount]="product.amount"
      ></app-see-details>
    <app-package-price
      [product]="product"
      (amountProductSelected)="amountProductSelected($event)"
    ></app-package-price>
    <div class="modal-footer">
      <button class="btn btn-secondary" aria-label="Close"  (click)="closeDetail()" type="button">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
</div>
