<div class="container-fluid">
  <div class="modal-body bg-secondary bg-opacity-25 text-dark rounded">
    <h4 class="card-title">
      {{package.product.name}}
    </h4>
    <div class="text-muted">
    <p class="card-text text-sm-start">
      {{package.product.description}}
    </p>
    <p class="card-text">
      Quantity available: {{package.product.amount}}
    </p>
    </div>
  </div>
    <br/>
  <app-add-minus-price
    [typeList]="typeList"
    (amountProductSelected)="updateAmountSelected($event)"
  ></app-add-minus-price>
</div>
