<div class=" shadow rounded list-group-item list-group-item-action">
    <img
      src="{{product.src}}"
      class="img-fluid img-responsive rounded"
      alt="..."
    />
  <div class="card-body">
     <a class="fw-light text-decoration-underline" data-bs-toggle="offcanvas" href="#offcanvasRight" (click)="showDetails()">Details</a>
       <div class="list-group">
          <app-sidepanel
            (amountPerProductSelected)="addProductToCart($event)">
          </app-sidepanel>
       </div>
  </div>
</div>
