<div class="shadow rounded list-group-item list-group-item-action">
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <img
      src="{{packageCart.product.src}}"
      class="img-fluid img-responsive rounded img-thumbnail"
      alt="..."
    />
    <div class="ms-2 me-auto">
      <app-see-details
        [title]="packageCart.product.title"
        [description]="packageCart.product.description"
        [amount]="packageCart.product.amount"
      ></app-see-details>
    </div>
    <span class="badge bg-primary rounded-pill">{{packageCart.amountSelected}}</span>
    <div class="btn-group">
      <a class="fw-light text-decoration-underline" (click)="showEdit()">Edit</a>
      <a class="fw-light text-decoration-underline" (click)="removeFromCartList()">Delete</a>
      <div class="btn-group" *ngIf="showEditAmount">
        <app-package-price
          [product]="packageCart.product"
          (amountProductSelected)="amountProductSelected($event)"
        ></app-package-price>
      </div>
    </div>
  </li>
</ol>
</div>
