<div class="position container-sm bg-secondary bg-opacity-25 col-12 rounded">
  <div class="color-menu text-white-50 card-body my_textPM rounded">
    <h6 class="">Payment Method</h6>
  </div>
  <div class="border border-dark reverse_card container bg-secondary shadow  col-8 rounded model-container-fluid">
    <form class="row" [formGroup]="csv">
      <div class="model-container-fluid"><br/></div>
      <div class="bg-black py-md-2 "><br/></div>
      <span class=""><br/></span>
      <div class="bg-black bg-opacity-25 rounded-inline d-inline p-1">
        <div class=" col-md-4 csv">
          <input type="text" class="form-control" id="inputCSV" placeholder="CSV" formControlName="inputCSV"
                 [ngClass]="
                  setInputStyles(csv.controls['inputCSV'])
                " minlength="3"
                 maxlength="3"
                 required>
          <app-input-message
            [errorText]="'Required field. '"
            *ngIf="
                evaluateUserInteractionWithInput(
                  csv.controls['inputCSV']
                )
              "
          ></app-input-message>
        </div>
      </div>
      <div class="model-container-fluid"><br/><br/></div>
    </form>
  </div>
  <div class="border border-dark front_card container bg-secondary shadow col-8 rounded model-container-fluid">
    <form class="row" [formGroup]="paymentMethod">
      <div class="logo model-container-fluid">
        <img
          class="logo img-fluid img-responsive rounded"
          src="../../../../assets/img/visa.png "
          alt="..."
        />
        <img
          class="logo img-fluid img-responsive rounded"
          src="../../../../assets/img/mastercard.png "
          alt="..."
        />
        <img
          class="logo img-fluid img-responsive rounded"
          src="../../../../assets/img/american-express.png "
          alt="..."
        />
      </div>
      <div class=" p-2 col-md-12">
        <label for="inputCardNumber" class="text-black-50 fw-bolder form-label">Card Number</label>
        <input type="text" class="form-control" id="inputCardNumber" placeholder="16 digit" formControlName="inputCardNumber"
               [ngClass]="
                  setInputStyles(paymentMethod.controls['inputCardNumber'])
                "
               ngPattern="^[0-9]"
               minlength="16"
               maxlength="16"
               required>
        <app-input-message
          [errorText]="'Required field. '"
          *ngIf="
                evaluateUserInteractionWithInput(
                  paymentMethod.controls['inputCardNumber']
                )
              "
        ></app-input-message>
      </div>
      <div class="d-inline p-2 col-md-8">
        <input type="text" class="form-control" id="inputCardHolder" placeholder="Name as it appear on the card" formControlName="inputCardHolder"
               [ngClass]="
                  setInputStyles(paymentMethod.controls['inputCardHolder'])
                "
               required>
        <app-input-message
          [errorText]="'Required field. '"
          *ngIf="
                evaluateUserInteractionWithInput(
                  paymentMethod.controls['inputCardHolder']
                )
              "
        ></app-input-message>
      </div>
      <div class="d-inline p-2 col-md-4">
        <input type="text" class="form-control" id="inputMountYearExpiration" placeholder="MM/YY" formControlName="inputMountYearExpiration"
               [ngClass]="
                  setInputStyles(paymentMethod.controls['inputMountYearExpiration'])
                "
               minlength="5"
               maxlength="5"
               required>
        <app-input-message
          [errorText]="'Required field. '"
          *ngIf="
                evaluateUserInteractionWithInput(
                  paymentMethod.controls['inputMountYearExpiration']
                )
              "
        ></app-input-message>
      </div>
      <br/>
    </form>
  </div>
  <div class="btn btn-group col-6 button_payment">
    <button class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close" type="button"(click)="cleanData()">Cancel</button>
    <button type="submit" class="btn btn-primary"(click)="addPaymentMethod()"[disabled]="paymentMethod.invalid && csv.invalid">Save</button>
  </div>
</div>
