<div class="container-fluid">
<div class="style-list-group container-sm">
  <div class="p-lg-1 w-50 p-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">
        <h5 class="text-uppercase fw-bolder">your bag</h5>
      </a>
    </li>
  </ul>
  <br/>

   <ul class="list-group list-group-flush p-3  bg-secondary bg-opacity-25 card-body">
     <div class="rounded list-group list-group-flush " *ngFor="let packageCart of productInCart; let i = index">
     <li class=" list-group-item d-inline p-2  bg-secondary bg-opacity-50 card-body rounded">
          <div class="row g-0 " style="width: 18rem;">
            <div class="shadow ratio ratio-4x3">
                <img
                  src="{{packageCart.product.src}}"
                  class="shadow img-fluid"
                  alt="{{packageCart.product.name}}"
                />
            </div>
            <div class="details">
              <app-shopping-cart-details
                [index]="i"
                [packageCart]="packageCart"
                (deleteEvent)="deleteFromCartById($event)"
                (amountProductSelected)="updateAmountSelectedInCart($event)"
              ></app-shopping-cart-details>
            </div>
          </div>
     </li>
     <br/>
 </div>
   </ul>
 </div>
  <div class="card-container order">
    <app-order-summary
      [productTotal]="productTotal"
      [orderTotal]="orderTotal"
    ></app-order-summary>
  </div>
</div>
</div>




