<div class="container-fluid">
<div class="style-list-group container-sm">
  <div class="p-lg-1 w-50 p-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <h5 class="text-uppercase fw-bolder">your bag</h5>
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" href="#">Wishlist</a>
    </li>
  </ul>
  <br/>

   <ul class="list-group list-group-flush p-3  bg-secondary bg-opacity-25 card-body">
     <div class="rounded list-group list-group-flush " *ngFor="let packageCart of productInCart; let i = index">
     <li class=" list-group-item d-inline p-2  bg-secondary bg-opacity-50 card-body rounded">
          <div class="row g-0 " style="width: 18rem;">
            <div class="shadow ratio ratio-4x3">
                <img
                  src="{{packageCart.product.src}}"
                  class="shadow img-fluid"
                  alt="{{packageCart.product.name}}"
                />
            </div>
            <div class="details">
              <h6 class="text-uppercase fw-bolder"> {{packageCart.product.name}}</h6>
              <div class="text-muted">
                <p class="card-text card-text text-sm-start">
                  In Stock: {{packageCart.product.amount}}
                </p>
                <div class="bg-black py-md-2 bg-opacity-50 card-body position-absolute w-50 amount text-white-50" *ngIf="canEdit">
                  <app-add-minus-price></app-add-minus-price>
                </div>
                <br/>
                <div class="style-list-group footer">
                  <a class="card-link" (click)="showEditAmount()">Edit</a>
                <a class="card-link">Delete</a>
                <a class="card-link">Move to wishlist!</a>
                </div>
              </div>
            </div>
          </div>
     </li>
     <br/>
 </div>
   </ul>
 </div>
  <div class="card-container order">
    <app-order-summary></app-order-summary>
  </div>
</div>
</div>




