<div class="style-background-img w-auto mw-100">
  <div class="p-lg-5">
    <h1><p class="fw-bolder">Your next trip must be unique</p></h1>

    <h5><p class="fw-lighter fst-italic ">Just about anyone can book a trip, but not everyone can plan a unique adventure that's accessible,
      enjoyable, and fun for everyone in your group. Our goal is to bring you the best travel industry secrets and a state-of-the-art
      travel comparison tool to make planning easier than ever.</p></h5>
    <p class="text-muted">
      See all our trip package
    <a routerLink="product" class="text-reset fw-bolder">Here</a>
    </p>
  </div>
</div>
