<div class="card-body">
  <form class="form-group" [formGroup]="priceForm">
    <div class="form-group">
       <h6><p>Cost per Quantity</p></h6>
        <div class="input-group">
          <span class="input-group-text">$</span>
            <input
            class="card-text"
            name="price"
            formControlName="price"
            type="text"
            readonly
            placeholder="{{ packagePrice }}"
           />
          <div class="container-fluid">
            <app-add-minus-price
              [packageAvailable]="product.amount"
              (formGroupEventEmitter)="updatePackageAmount($event)"
            ></app-add-minus-price>
          </div>
      </div>
   </div>
</form>
</div>

