<div class="style-list-group">
  <br/>
  <app-shipping-address
    (formGroupEventEmitter)="updateShippingAddressInOrder($event)"
  ></app-shipping-address>
  <app-payment-method
    (formGroupEventEmitterCSV)="updateCSVInOrder($event)"
    (formGroupEventEmitterPaymentMethod)="PaymentMethodInOrder($event)"
  ></app-payment-method>

  <div class="card-container order">
    <app-order-summary-payment
      [order]="order"
      (submit)="sendModal($event)"
    ></app-order-summary-payment>
  </div>
</div>

